[Unit]
Description=Run Auto Trade XAUUSD System every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Unit=auto-trade.service

[Install]
WantedBy=timers.target
